.scrollableCardContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Vertical scrolling area */
.verticalScrollArea {
    max-height: 8rem; /* adjust to fit card height */
    overflow-y: auto;
    overflow-x: hidden;
}

/* Horizontal scrolling area */
.horizontalScrollArea {
    display: flex;
    overflow-x: auto;
    gap: 1rem;
}

.horizontalScrollArea::-webkit-scrollbar {
    height: 6px;
}

.horizontalScrollArea::-webkit-scrollbar-thumb {
    background-color: #bdbdbd;
    border-radius: 3px;
}